[Unit]
Description=Check and optionally update lnurl-mint
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/sbin/lnurl-mint-updater
